<% include ../includes/header.ejs %>

<h1>Delete a tiger</h1>
<form action="del-submit" method="get">
    <input type="number" name="pos" required/>
    <input type="submit" value="Delete Tiger"/>
</form>

<a href="/">Back</a><br/>

<% include ../includes/footer.ejs %>