<% include ../includes/header.ejs %>

<div class="container">
    <% if(error) { %>
        <div class="alert alert-danger">Your username or password were wrong</div>
    <% } %>

    <div class="form-signin signinform">
        <form class="form-signin" action="login-submit" method="get">
        <h2 class="form-signin-heading">Please Log in</h2>
        <label for="username" class="sr-only">Username</label>
        <input name="user" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="pass" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input class="btn btn-lg btn-primary" style="font-family: FontAwesome"  type="submit" value="Login  &#xf1d8;"/>
        </form>

        <p><a href="/signup">Sign-Up</a></p>

    </div>
</div> <!-- /container -->

<% include ../includes/footer.ejs %>