<% include ../includes/header.ejs %>

<div class="container">
    <% if(error) { %>
        <div class="alert alert-danger"><p>Please try log in or try again.</p></div>
    <% } %>

    <div class="form-signup signupform">
        <form class="form-signup" action="signup-submit" method="get">
            <h2 class="form-signup-heading">Please Sign Up</h2>
            <label for="username" class="sr-only">Username</label>
            <input name="user" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="email" class="sr-only">Email</label>
            <input name="email" type="email" id="inputEmail" class="form-control" placeholder="email" required>

            <label for="inputPassword" class="sr-only">Password</label>
            <input name="pass" type="password" id="inputPassword" class="form-control" placeholder="Password" required  onkeyup="checkPass(); return false;">
            <label for="confirmPassword" class="sr-only">Confirm Password</label>
            <input name="conpass" type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required  onkeyup="checkPass(); return false;">
            <div id="error-pass"></div>

            <label for="name" class="sr-only">Name</label>
            <input name="name" type="text" id="inputName" class="form-control" placeholder="Name" required>
            <input id="submitbtn" class="btn btn-lg btn-primary submit" type="submit" value="Sign Up  &#xf1d8;"/>
        </form>

        <p><a class="redirect" href="/login">Already have an account?</a></p>

    </div>
</div> <!-- /container -->

<% include ../includes/footer.ejs %>