<% include ../includes/header.ejs %>

<h1>Update a todo</h1>
<form action="update-submit" method="get">
    <input type="number" name="pos" required/>
    <input type="text" name="name" required/>
    <input type="submit" value="Update Todo"/>
</form>

<ul id="todo-list"></ul>

<a href="#" onclick="seeTodos();">See Todos</a><br/>
<a href="/">Back</a><br/>

<script>
    function seeTodos(){
        $.ajax({
            url: '/get-todos',
            data: false,
            success: callback,
            dataType: 'json'
        });
    }

    function callback(data) {
        data.todos.forEach(function(todo, i){
            $('#todo-list').append('<li>'+i+': '+todo+'</li>');
        });
    }
</script>

<% include ../includes/footer.ejs %>