body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    color: #000;
}

h1{
    font-size: 120%;
}
h2{
    margin: 5px;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

a.current{
    color: #17a2b8;
}
.form-control{
    width: 50%;
    margin: 0;
    height: calc(2.25rem + 10px);
}
.form-signin .form-control{
    width: 50%;
    margin: 0 auto;
    height: calc(2.25rem + 10px);
}
.form-signin-heading{
    margin: 5px;
    text-align: center;
}
.signinform{
    background-color: #f9d374;
    margin: 0 auto;
    padding: 40px;
    max-width: 60%;
}
.signupform{
    background-color: #f9d374;
    width: 40vw;
    margin: 0 auto;
    padding: 40px;
}

.header{
    background-color: #f9d374;
}
.content{
    padding: 40px;
    background-color: #ec785f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#top{
    display: block;
    background-color: #138496;
}
#count{
    text-align: right;
    padding: 2px 30px;
}
.breadcrumbs{
    background-color: #138496;
}
a.back{
    text-decoration: none;
    color: #ffffff;
    padding: 2px 20px;
}

a.back:hover{
    text-decoration: none;
    color: black;
}

/***************************           Sidebar            *******************************/
#wrapper {
    flex: 1 1 200px;
    margin: 15px 0;
}
#sidebtnwrap{}
#sidebarbtn{
    max-width: 60%;
    min-width: 60%;
    padding: 10px;
    text-align: left;
}
#sidebar{
    background-color: #f9d374;
    max-width: 60%;
    min-width: 60%;
    padding: 10px;
    display: none;
}

.submenu{
    padding-left: 0;
    padding-bottom: 10px;
    list-style: none;
}

.submenu li{
    padding-left: 10px;
}

.submenu li a{
    font-size: 90%;
}

/***************************           Main           *******************************/

#middle{
    flex: 3 1 600px;
}

.btn-primary{
    background-color: #17a2b8;
}

.btn-primary:hover{
    background-color: #138496;
}

.btn-primary:active{
    background-color: #138496;
}

.btn-primary:visited{
    background-color: #138496;
}


img {
    display: block;
      border: 0;
      width: 100%;
      height: auto;
  }
  
  /***************************           Cards            *******************************/
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* see notes below */
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
  }
  
  .card {
    /*height: 200px;*/
    /*background: red;*/
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #5d5e5e;
  } /* li item */
  
  .thumbnail img {
    fill: #c7c4c4;
    height: 165px;
    opacity: .25;
    padding: 1.5rem;
  }
  
  .card-content {
      font-size: .75rem;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
  }
  
  .panel.card-panel .panel-header {
      background-color: #ffffff;
      font-size: .75rem;
      font-weight: 400;
      height: 25px !important;
  }
  
  .panel.card-panel .panel-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  
  footer {
    margin: .5rem 0 0;
    min-height: 30px;
    font-size: .5rem;
  }
  
  .category {
      position: absolute;
      top: 110px;
      left: 0;
      color: #fff;
      background: #e74c3c;
      padding: 10px 15px;
      font-size: 130%;
      text-transform: uppercase;
      font-weight: 600;
      text-transform: uppercase;
  }
  
  .category__01 {
    background-color: #50c6db;
  }
  
  .category__02 {
    background-color: #5d5e5e;
  }
  
  .category__03 {
    background-color: #51bb7b;
  }
  
  .category__04 {
    background-color: #f47820;
  }
  
  .category__05 {
    background-color: #8350a0;
  }

  .priority__low {
    border-top: 4px solid #f5eb5d;
  }
  
  .priority__med {
    border-top: 4px solid #ff9900;
  }
  
  .priority__high {
    border-top: 4px solid #fa1c03;
  }
  
  .cardfootwrap {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .comments {
    margin-left: .5rem;
  }

  .round {
    position: relative;
    margin-right: 20px;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #17a2b8;
    border-color: #138496;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  /***************************           Delete           *******************************/
  #delwrap{
      list-style: none;
      margin-top: 15px;
  }
  ul#dellist {
    width: 100%;
	list-style: none;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  ul#dellist li {
    text-align: center;
    margin: 0 auto;
    flex-basis: 20%;
  }
  .delrow:nth-child(even) {
    background-color: #f9d374;;
  }
  .delrow:nth-child(odd) {
    background-color: #f5dd9ff1;;
  }
  .delcol{
    padding: 10px;
  }
  .delhead{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .listcount{
      border: 1px solid #138496;
      background-color: #17a2b8;
      color: #fff;
      padding: 5px;
      max-width: 25px;
      min-width: 25px;
      max-height: 35px;
  }
/***************************           Misc            *******************************/
.alert{
    margin: 0 auto;
    text-align: center;
}

.feedback{
    margin: 50px auto;
}

.feedback h1{
	border-bottom: 3px solid #ffffff;
	color: #000;
	font-family: 'Six Caps';
	font-size: 140px;
	font-weight: 400;
	line-height: 180px;
	letter-spacing: 20px;
	margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
}

.flash{
    color: #000;
	font-family: 'Cormorant Garamond';
	font-size: 28px;
	font-style: italic;
	font-weight: 400;
	line-height: 48px;
	max-width: 640px;
	margin: 0 auto 48px;
	text-align: center;
}

.redirect{
    font-size: 80%;
    text-decoration: underline;
}

.submit{
    margin-top: 15px; 
    margin-bottom: 15px; 
    font-family: 'FontAwesome';
}

.notfound img{
    max-width: 95%;
}

#selectfrm{
    margin: 15px 0;
}

.testbtn{
    width: 100%;
}

.testbtn input[type='submit']{
    margin: 0 auto;
    width: 100%;
}

.loginbtnwrap{
    width: 50%;
    margin: 0 auto;
}

/***************************           Media Queries            *******************************/

@media (max-width: 320px){
    h2 {
        font-size: 1rem;
    }
    .signinform{
        max-width: 100%;
        padding: 10px;
    }

    .form-signin .form-control{
        width: 100%;
    }
    .loginbtnwrap {
        width: 100%;
    }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    .signinform{
        max-width: 100%;
        padding: 20px;
    }

    .form-signin .form-control{
        width: 90%;
    }
}
/* Portrait and Landscape */
@media screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px) {
    .signinform{
        max-width: 90%;
        padding: 20px;
    }

    .form-signin .form-control{
        width: 90%;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 900px) {
    .signinform{
        max-width: 80%;
    }

    .form-signin .form-control{
        width: 70%;
    }
}

@media only screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1024px) {
    .signinform{
        max-width: 80%;
    }

    .form-signin .form-control{
        width: 50%;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1280px) {
    .signinform{
        max-width: 70%;
    }

    .form-signin .form-control{
        width: 50%;
    }
}

@media (max-width: 1900px){
    .container {
        margin: 0 auto;
    }
}