body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    color: #000;
}
h1{
    font-size: 120%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

a.current{
    color: #17a2b8;
}
.signinform{
    background-color: #f9d374;
    width: 40vw;
    margin: 0 auto;
    padding: 40px;
}
.signupform{
    background-color: #f9d374;
    width: 40vw;
    margin: 0 auto;
    padding: 40px;
}

.header{
    background-color: #f9d374;
}
.content{
    padding: 40px;
    background-color: #ec785f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#top{
    display: block;
    background-color: #138496;
}
#count{
    text-align: right;
    padding: 2px 30px;
}
.breadcrumbs{
    background-color: #138496;
}
a.back{
    text-decoration: none;
    color: #ffffff;
    padding: 2px 20px;
}

a.back:hover{
    text-decoration: none;
    color: black;
}

/***************************           Sidebar            *******************************/
#wrapper {
    flex: 1 1 200px
}
#sidebarbtn{
    max-width: 12vw;
    min-width: 12vw;
    padding: 10px;
    text-align: left;
}
#sidebar{
    background-color: #f9d374;
    max-width: 12vw;
    min-width: 12vw;
    padding: 10px;
    display: none;
}

/***************************           Main           *******************************/

#middle{
    flex: 3 1 600px;
}

.btn-primary{
    background-color: #17a2b8;
}

.btn-primary:hover{
    background-color: #138496;
}

.btn-primary:active{
    background-color: #138496;
}

.btn-primary:visited{
    background-color: #138496;
}


img {
    display: block;
      border: 0;
      width: 100%;
      height: auto;
  }
  
  /***************************           Cards            *******************************/
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* see notes below */
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
  }
  
  .card {
    /*height: 200px;*/
    /*background: red;*/
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #5d5e5e;
  } /* li item */
  
  .thumbnail img {
    fill: #c7c4c4;
    height: 135px;
    opacity: .25;
    padding: 1.5rem;
  }
  
  .card-content {
      font-size: .75rem;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
  }
  
  .panel.card-panel .panel-header {
      background-color: #ffffff;
      font-size: .75rem;
      font-weight: 400;
      height: 25px !important;
  }
  
  .panel.card-panel .panel-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .category {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  footer {
    border-top: 2px solid #e7e7e7;
    margin: .5rem 0 0;
    min-height: 30px;
    font-size: .5rem;
  }
  
  .category {
      position: absolute;
      top: 110px;
      left: 0;
      color: #fff;
      background: #e74c3c;
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
  }
  
  .category__01 {
    background-color: #50c6db;
  }
  
  .category__02 {
    background-color: #5d5e5e;
  }
  
  .category__03 {
    background-color: #51bb7b;
  }
  
  .category__04 {
    background-color: #f47820;
  }
  
  .category__05 {
    background-color: #8350a0;
  }
  
  .post-meta {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .comments {
    margin-left: .5rem;
  }

  .round {
    position: relative;
    margin-right: 20px;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #17a2b8;
    border-color: #138496;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  /***************************           Delete           *******************************/
  #delwrap{
      list-style: none;
  }
  ul#dellist {
    width: 100%;
	list-style: none;
    padding: 5px;
    display: table;
    table-layout: fixed; /* the magic dust that ensures equal width */
  }
  ul#dellist li {
    display: inline;
    display: table-cell;
    text-align: center;
    margin-left: -50px;
  }
  .delrow:nth-child(even) {
    background-color: #eeeeee;
  }
  .delrow:nth-child(odd) {
    background-color: #bbbbbb;
  }
  .delcol{
    padding: 10px;
  }
  .listcount{
      border: 1px solid #138496;
      background-color: #17a2b8;
      color: #fff;
      padding: 5px;
      max-width: 25px;
      min-width: 25px;
  }
/***************************           Misc            *******************************/
.alert{
    margin: 0 auto;
    text-align: center;
}

.feedback{
    font-size: 120%;
    text-align: center;
    margin: 0 auto;
}

.redirect{
    font-size: 80%;
    text-decoration: underline;
}

.submit{
    margin-top: 15px; 
    margin-bottom: 15px; 
    font-family: 'FontAwesome';
}